__pycache__/
*.pyc
venv/
*.egg-info/

# Environment variables — JANGAN PERNAH di-push
backend/.env
frontend/.env

# Alembic
backend/alembic/versions/*.pyc

# Nodek
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db